.contacto {
    text-align: left;
    margin-top: 10rem;
    margin-left: 5rem;

    .formulario-contacto {
        @include arreglo(flex, column, center, wrap, start);
        gap: 2rem;
        margin-top: 5rem;

        label {
            display: block;
        }
    }
}

.enviar-borrar {
    width: 5rem;
}


#mapa {
    @include arreglo(flex, column, center, wrap, start);
    gap: 2rem 2rem;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
    .contacto {
        @include arreglo(flex, column, center, nowrap, center);

        h1 {
            margin-right: 5rem;
        }

        .formulario-contacto {
            margin-left: 5rem;
        }
    }

    #mapa {
        margin-right: 5rem;
    }
}