.contacto {
    text-align: left;
    margin-top: 10rem;
    margin-left: 5rem;

    .formulario-contacto {
        @include arreglo(flex, column, center, wrap, start);
        gap: 2rem;
        margin-top: 5rem;

        label {
            display: block;
        }
    }
}

.enviar-borrar {
    width: 5rem;
}

#mapa {
    @include arreglo(flex, column, center, wrap, start);
    gap: 2rem 2rem;
    margin-top: 5rem;
    margin-bottom: 7rem;
}