header {
    background-color: #f8f9fa;
    position: fixed;
    z-index: 1020;
    height: 7rem;

    .logo {
        margin-left: 2rem;
    }

    nav {
        .lista-nav {
            padding-top: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: end;
            font-family: $tipografia;
            font-size: 120%;
            font-weight: 500;
        }
    }
}