.modelos-gral {
    display: block;
    text-align: start;
    margin-top: 10rem;
    margin-left: 3rem;
}

.autos {
    margin-top: 8rem;
    @include arreglo(flex, row, start, wrap, center);

    h3 {
        font-family: $tipografia;
        font-weight: 650;
        font-size: 140%;
    }

    div {
        margin-bottom: 10rem;
    }
}