.service-titulo {
    text-align: left;
    margin-top: 14rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
}

.service {
    margin-top: 6rem;
    @include arreglo(flex, row, space-evenly, wrap, center);
    margin-bottom: 15rem;

    h2 {
        font-family: $tipografia;
        font-weight: 650;
        font-size: 140%;
        margin-top: 2rem;
    }

    img {
        width: 30rem;
        height: auto;
        box-shadow: 10px 10px 5px;
    }
}