.service-titulo {
    text-align: left;
    margin-top: 13rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
}

.service {
    margin-top: 6rem;
    @include arreglo(flex, row, space-evenly, wrap, center);
    margin-bottom: 7rem;

    h2 {
        font-family: $tipografia;
        font-weight: 650;
        font-size: 140%;
        margin-bottom: 1rem;
    }

    img {
        width: 30rem;
        height: auto;
    }
}